 css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.note{
  text-align: center;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.description{
  text-align:center;
  float: inherit;
}

h1{
  text-align: center;
  margin: 10px 0;
}
img{
  box-align: center;
  float:none;
}
p{
  text-align: center;
  width: 40%;
  left: 30%;
  
  float: none;
}
center{
  text-align: center;
  width: 40%;
  left: 30%;
}